.App {
  max-width: 42rem;
  margin-top: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  height: calc(100% - 1rem);
  padding: 0.5rem 1rem;
}

.Conversion {
  display: grid;
  gap: 1rem;
  align-self: start;
}
