.MessageContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem 0.75rem 0.5rem;
  color: #f3f3f3;
  border-radius: 3px;
}

.MessageContainer.warning {
  background-color: #3c351d;
}

.MessageContainer.note {
  background-color: #352e51;
}

.MessageHeader {
  padding-bottom: 0.25rem;
}

.MessageHeader > span {
  font-weight: 700;
}

@media (prefers-color-scheme: light) {
  .MessageContainer {
    color: #172b4d;
  }

  .MessageContainer.warning {
    background-color: #fff7d6;
  }

  .MessageContainer.note {
    background-color: #f3f0ff;
  }
}
