:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ol {
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
}

pre,
pre > code {
  text-align: left;
}

pre {
  padding: 1rem 1.5rem !important;
  overflow: scroll;
  border-radius: 3px;
}

code:not(pre > code) {
  padding: 0.15rem;
  border-radius: 3px;
  background-color: #444;
  /* the colour is synced with tomorrowNightEighties styles */
  color: rgb(204, 204, 204);
  border: 1px solid #000;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  pre {
    /* override react-syntax-highlighter styles */
    background-color: #f2f2f2 !important;
  }
  code:not(pre > code) {
    background-color: #f2f2f2;
    /* the colour is synced with tomorrow styles */
    color: rgb(77, 77, 76);
    border: 1px solid #bbb;
  }
}
